@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-delay-5000 {
    animation-delay: 1s;
  }
  .animation-delay-6000 {
    animation-delay: 1.5s;
  }
  .animation-delay-7000 {
    animation-delay: 2s;
  }
  .animation-delay-8000 {
    animation-delay: 2.5s;
  }
  .animation-delay-9000 {
    animation-delay: 3s;
  }
  .animation-delay-10000 {
    animation-delay: 3.5s;
  }

  @keyframes scroll-horizontal {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .horizontal-auto-scroll {
    animation: scroll-horizontal 20s linear infinite;
    white-space: nowrap; /* Ensures items stay on a single line */
  }
  
  